.pig-bg{
    width: 600px;
    height: 600px;
    background-image: url("../img/theMan.png");
    margin: 0 auto;
}

.target {
    border: 1px #000 solid;
    height: calc(150px - 2px);
}

.targetted {
    position: fixed;
    margin: 0 calc(300px - 75px);
    background: red;
    width: 150px;
    height: 150px;
}

.smoke {
	display: none;
    width: 700px;
    height: 600px;
    background-color: rgba(255,0,0,0.3);
    position: fixed;
    top: 0;
    margin-left: calc(50% - 350px);
}

.smoke.clear {
  opacity: 1;
    amimation: fade 2s linear;
}

@keyframes smokefade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.fire-btn {
    background-color: red;
    width: 300px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    margin-left: calc(50% - 150px);

}