body {

    background-image: url("../img/bg.png");
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-position: center center;
}


.pig-bg{
    width: 600px;
    height: 600px;
    background-image: url("../img/theMan2.png");
    margin: 0 auto;
}

.eyes {
    width: 79px;
    height: 9px;
    position: fixed;
    margin-top: 21px;
    margin-left: 282px;
    background-repeat: no-repeat;
    background-image: url("../img/eyes.png");
}

.blink {
    background-size: 79px 1px;
}

.title{
    position: relative;
    float: left;
    top: 30px;
    left: 30px;
    width: 300px;
    height: 155px;
    z-index: -2;
    background-image: url("../img/title.png");
}

.target {
    /* border: 1px #000 solid; */
    height: 150px;
    cursor: crosshair;
}

.targetted {
    position: fixed;
    margin: 0 calc(300px - 75px);
    width: 150px;
    height: 150px;
    background-image: url("../img/scope.png");
}

.smoke {
    display: none;
    width: 640px;
    height: 600px;
    position: fixed;
    top: 0;
    margin-left: calc(50% - 320px);
    background-image: url("../img/smoke.png");
}

.bang {
    display: none;
    width: 700px;
    height: 600px;
    position: fixed;
    top: 0;
    margin-left: calc(50% - 350px);
    background-image: url("../img/bang.png");
}

@keyframes smokefade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.fire-btn {
    width: 136px;
    height: 59px;
    position: fixed;
    bottom: 3px;
    margin-left: calc(50% - 68px);
    background-image: url("../img/button_1.png");
    cursor: pointer;

}

.fire-btn.pressed {
    background-image: url("../img/button_2.png");
    cursor: none;

}

.cannon {
    width: 300px;
    height: 200px;
    margin-left: 40px;
    position: fixed;
    bottom: 0px;
    margin-left: calc(50% - 150px);
    pointer-events: none;
    background-image: url("../img/cannon.png");

}

.instruct {
    width: 500px;
    color: #000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-left: 30px;
    text-align: center;
    line-height: 1.6em;
    font-size: 1.3em;
    font-family: 'Architects Daughter', cursive;
}

.wrapper {
    width: calc(50% - 180px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.clear {
}

.activity {
}

.button {
    border: #000 1px solid;
    margin: 10px auto;
    border-radius: 6px;
    max-width: 300px;
    padding: 5px;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
}

.clean {
    text-decoration: none;
    color: #000;
}
